<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Crimson+Text|Josefin+Sans|Playfair+Display" rel="stylesheet">
        <link rel="stylesheet" href="/dist/styles.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h1>Person: <span class="lighter"><%= ID %></span><h1>
            <p>Querstring Value: <%= Qstr %></p>
        </div>
    </body>
</html>